.admin-menu-block {
    position: fixed;
    bottom: 10%;
    left: 1%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.gs_li li {
    line-height: 2;
}
.lipadding li {
    padding:10px;
}

.admin-menu-block ul li {
    padding: 3px 10px;
    border-bottom: 1px solid gray;
}

.to-navigation{
    padding: 10px 0;
    background: white;
    margin-bottom: 10px;
    display:flex;
    border-radius: 0px 0px 10px 10px
}

a.logo:hover{
    text-decoration: none;
}

a.logo{
    font-size: 1.4rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    padding: 8px 21px;
}


.select-image {
    width: 100%;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
}

.file-output, img, video {
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-image: url('/assets/img/load-gs.gif');
    background-size: cover;
    background-position: center;
}